.navbar-text {
    position: absolute;
    left: 45%;
}

#menu {
    border-radius: 5px;
    border: 5px solid gray;
    display: none;
    padding: 10px;
    text-align: center;
    position: absolute;
    left: 5px;
    top: 40px;
    list-style: none;
}